# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java_42\schoollanguage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
